<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Change Password</title>
    <object th:include="fragment/fragment :: css" th:remove="tag"></object>
    <object th:include="fragment/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragment/fragment :: navbar"></nav>
<h2 th:if="${changePasswordFlag}" th:text="'Password user dengan username ' + ${user.username} + ' berhasil diubah.'"  ></h2>
<div th:unless="${changePasswordFlag}">
    <h2>Error</h2>
    <h2>Password lama yang dimasukkan tidak sesuai atau password baru dan konfirmasi password baru tidak sama</h2>
</div>

</body>
</html>